@charset "UTF-8";

*{
    margin: 0;
}

html {
    font-size: 20px;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFF;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,800px) 200px ;
    grid-template-rows: min-content 90px auto 120px;
    grid-template-areas: 
    "header header  header  header"
    "nav    main    main    main"
    "nav    main    main    main"
    "footer footer  footer  footer";
}

nav {
    grid-area: nav;
    background-color: #867c65;
    width: 100%;
}

nav ul {
    list-style: none;
    padding: 10px;
}

nav ul ul {
    margin-left: 2rem;
}

nav a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    margin-left: 20px;
}

nav a:link, nav a:visited {
    background-color: #867c65;
    color: white;
}

nav a:hover, nav a:active {
    background-color: #a09a8c;
    color: #68645a;
}

header {
    grid-area: header;
    height: 7rem;
    padding-left: 20px;
    background-color: #ffffff;
    color:#121013;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
    margin-top: 40px;
    margin-right: 20px;
}

.header h1 {
    position: relative;
    top: 60px;
}

header h1 {
    width: 100%;
    margin: 0 auto;
}

h3 {
    color: #39393a;
    margin-top: 10px;
}

main {
    grid-area: main;
    background-color: #a3b9a0;
    padding: 20px;
}

img {
    max-width: 100%;
}

#workers {
    max-width: 1000px;
    margin: auto;
}

#kaffeute {
    float: left;
    margin: 10px;
}

.names ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-basis: 150px;
    padding: 10px;
    gap: 20px;
}

iframe {
    border: none;
    height: 400px;
    width: 500px;
}

#listapåöppetider {
    text-align: center;
    border: 2px solid black;
    max-width: 500px;
    padding: 5px;
    margin: auto;
}

#listapåöppetider ul {
    list-style: none;
}

#indexheader {
    padding: 10px;
    color: #304930;
}

#welcome {
    float: left;
    padding: 0 20px;
    max-width: 600px;
}

#text {
    clear: both;
    width: 900px;
    margin: auto;
    padding: 40px 0
}

#text3 {
    padding: 40px;
}

#text4 {
    clear: left;
    padding-top: 100px;
}

.map {
    clear: both;
    padding-top: 40px;
    float: right;
}

#text h3 {
    margin-bottom: 10px;
}

picture img {
    padding-top: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #273529;
    color: white;
    padding: 20px;
    min-height: 200px;
}

footer div {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

/* stil för meny*/

#drinks ul {
    list-style: none;
    margin: 0;
}

#drinks h2 {
    text-decoration: underline;
    margin-left: 20px;
    margin-bottom: 0.4rem;
}

.menu-name {
    font-size: 1.2rem;
    padding: 0;
}

.menu-description {
    color: #535657;
}

.menu-price {
    color: #353433;
    margin-bottom: 20px;
}
/* slut på meny*/

/* kaffe */

#sortiment {
    box-sizing: border-box;
}

figure {
    border: 1px solid #ffffff;
    margin-top: 30px;
    padding: 20px;
} 

figure img {
    max-width: 25vw;
}

.sortiment input {
    display: none;
}

.sortiment input + span {
    cursor: zoom-in;
}

.sortiment input:checked + span {
    cursor: zoom-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sortiment input:checked + span img {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}

/* stil för formuläret */

#form {
    padding: 20px;
}

#form fieldset {
    background-color: #92b4a0;
    margin-bottom: 20px;
}

#form fieldset div {
    white-space: nowrap;
    gap: 5px;
    display: grid;
}

#form legend {
    font-weight: bold;
}

#information div {
    grid-template-columns: 1fr 2fr;
}

#information input {
    width: 50ch;
}

/*slut på formulär*/


@media screen and (max-width: 1500px) {
    .map, #kaffeute {
        float: none;
    }
    #text3, #text4 {
        padding: 20px;
    }
}

@media screen and (max-width: 1400px) {
    #welcome {
        float: none;
        padding-bottom: 20px;
        display: block;
    }
}

@media screen and (max-width: 1350px) {
    #text {
        margin: 0;
    }
} 

@media screen and (max-width: 1300px) {
    #text {
        width: auto;
    }
}

@media screen and (max-width: 1000px) {
    body {
        display: block;
    }
    nav {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    #names ul {
        display: inline;
    }
}

@media screen and (max-width: 600px) {
    #information input {
        width: 30ch;
    }
    #costumerText textarea{
        width: 60vw;
    }
    .map, iframe {
        max-width: 300px;
    }
}

@media screen and (max-width: 480px) {
    #information div {
        grid-template-columns: 1fr;
    }
}