@charset "UTF-8";

*{
    margin: 0;
}

html {
    font-size: 24px;
}

html, body {
    height: 100%;
}

body {
    background-color: #FFFF;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,800px) 200px auto;
    grid-template-rows: min-content 90px auto 60px;
    grid-template-areas: 
    "header header  header  header"
    "aside   main    main    main"
    "aside   main    main    main"
    "footer footer  footer  footer";
}

nav {
    grid-area: nav;
    font-size: 18px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

nav a:link, nav a:visited {
    background-color: #121013;
    color: white;
}

nav a:hover, nav a:active {
    background-color: #8eb4c5;
    color: #c0b7b7;
}

header {
    grid-area: header;
    width: 100%;
    background-color: #F2EFE9;
    color:#121013;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}


header h1 {
    width: 100%;
    margin: 0 auto;
}

h3 {
    color: #252627;
    margin-top: 10px;
}

main {
    grid-area: main;
    background-color: #d0deec;
    padding: 10px;
    max-width: 100%;
}

aside {
    min-width: 200px;
}


img {
    max-width: 100%;
}


footer {
    grid-area: footer;
    text-align: center;
    background-color: #424444;
    color: white;
    padding: 20px;
}


/*
@media screen and (max-width: 1000px) {
    h4 {
        clear: both;
    }
}

@media screen and (max-width: 850px) {
    .floatimg, #box {
        float: none;
    }    
    .imggrid {
        display: block;
    }
}


@media screen and (max-width: 700px) {
    body {
        display: block;
    }

    header {
        justify-content: left;
        padding-left: 10px;
    }
}

@media screen and (max-width: 530px) {
    #design {
        float: none;
        max-width: 100%;
    }
}